.overview{
    display: flex;
    width: 100%;
}

.overview_left{
    width: 40%;
    z-index: 1;
    padding-left: 40px;
}

.overview_left .heading{
    font-size: 18px;
}

.overview_right{
    width: 100%;
}

section{
    margin-top: 60px;
    color: #383874;
}

.section_top_head{
    font-weight: 600;
    font-size: 18px;
}

.section_top_content{
    font-size: 45px;
    font-weight: 800;
}

.section_main{
    margin-top: 60px;
    margin-bottom: 60px;
}